body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background-color:rgb(49, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  background: rgb(211, 216, 214);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
}

.logo{
  position: absolute;
  top: 20px;
  left: 30px;
  width: 150px;
}

h1 {
  color:#0e7a63;
}

h2,
h3 {
  color: #333;
}

.form-group,
#auth-section,
#admin-section {
  margin-bottom: 15px;
}


input[type="text"],
input[type="password"],
select {
  width: calc(100% - 200px);
  
  padding: 10px;
  
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 48%;
  padding: 10px;
  background-color: #1a9379;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px 1%;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 100px;
  
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.nav-button {
  width: 100px;
}

.error {
  color: red;
}

#randomWord {
  font-size: 50px;
  margin: 15px 100px;
  cursor: pointer;
  color: #007BFF;
}

#randomWord:hover {
  text-decoration: underline;
}

#translationOutput {
  margin-top: 50px;
  margin-bottom: 200px;
  font-size: 40px;
}

#admin-section{
  margin-bottom: 100px;
}

.logoutBtn{
  width: 100px;
  background-color:#333;
    position: absolute;
      top: 10px;
      /* Смещение кнопки от верхнего края блока */
      right: 10px;
      /* Смещение кнопки от правого края блока */
      /* Дополнительные стили для кнопки */
}